# Ignore env files
captain/.env
user/.env
ride/.env

# Ignore node_modules for all services
captain/node_modules/
user/node_modules/
ride/node_modules/
gateway/node_modules/

# General
.env
node_modules/
